body{
	background-image: linear-gradient(to right, #0C2C3B , #011822);
  	text-align: center;
}


p{
	color: white;
	font: "Lucida Console", Monaco, monospace
  	text-align: center;
}

.title{
	font-size: x-small;
	font-style: italic;
  	text-align: center;
}

a{
	text-decoration: none;
  	text-align: center;
}

th{
}

th:hover{
	opacity: 0.6;
}
