body{
	background-image: linear-gradient(to right, orange , #ffdb58);
  	text-align: center;
}

.container{
	margin-top: 20%;
	display: inline-block;
}

p{
	color: white;
	font: "Lucida Console", Monaco, monospace
}

th{
}

th:hover{
	opacity: 0.6;
}